body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('../../images/bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.top-header{
        background-color: #161825;
        color: white;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-top: 10px;
        justify-items:center;
        width: auto;
        height: 30px;
        margin: 0;
}
header{
        background-color: #fff;
        height: 70px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-content: center;
        padding-top: 50px;
        padding-left: 30px;
        width: 960px;
        margin:0 auto;
}
.menulogo{
    display: none;
}
.header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    padding-right: 70px;
}
.header li:hover{
    color: #fc9701;
    transition: ease-in all 0.7s;
}
.header li {
    padding-top: 15px;
    list-style-type: none;
}
.header1{
    padding-bottom: 60px;
}
.we-are{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    width: 960px;
    height: 500px;
    margin: 70px  auto;
    color: white;
    gap: 60px;
}
.we-are h1 {
    font-size: 70px;
}
.contactus{
    background-color: #fc9701;
    display: inline-block;
    margin-top: 30px;
    width: 270px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px ;
    text-decoration: none;
    
}
.contactus:hover{
    background-color: black;
    color: white;
    transition: ease-in all 0.7s;
}
.card{
    width: 960px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin: 0 auto;
    gap: 90px;
}
.card-body{
    background-color: #fff;
    width: 260px;
    height: 160px;
    padding:40px 0px 25px  ;
}
.fa-solid{
    color: black !important;
    padding-top: 30px;
    padding-bottom : 40px;
    width: 60px;
    font-size: 40px;
}
.card-body:hover{
    background-color: #fc9701;
    color: white;
    transition: ease-in all 0.7s;
}
.ourcompany{
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 960px;
    margin: 30px auto;
    gap: 10px;
    align-items: center;
}
.aboutour h2{
    padding-bottom: 30px;
}
.readmore{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 30px;
    width: 270px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px ;
    text-decoration: none;
    
}
.readmore:hover{
    background-color: #fc9701;
    transition: ease-in all 0.7s;
}
.futurehp{
    text-align: center;
    color: white;
}
.futureimg{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-left: 50px;
}
.why{
    background-image: url(../../images/image5.jpg);
    background-size: cover;
    height: 800px;
    display: grid;
    
}
.whychose{
    width: 30%;
    margin-top: 60px;
    margin-left: 200px;
    height: 150px;
}
.whycard{
    width: 30%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin-left: 200px;
}
.card-body1{
    background-color: #fff;
    width: 100px;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.card-body1:hover{
    background-color: #fc9701;
    /* color: white; */
    transition: ease-in all 0.7s;
}
.h1{
    margin-left: 200px;
}
.contact-us{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 960px;
    margin: 0 auto;
}
.container{
    background-color: aliceblue;
    width: 100%;
    height: 600px;
    margin: 0px;
    display: inline-block;
}
input{
    display: block;
    height: 30px;
    width: 270px;
    margin: 20px 40px;
}
textarea{
    display: block;
    width: 270px;
    margin: 10px 40px 40px;

}
.send{
    background-color: black;
    color: white;
    display: inline-block;
    /* margin-top: 30px; */
    width: 270px;
    height: 30px;
    margin-left: 40px;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px ;
    text-decoration: none;
}
.send:hover{
    background-color: #fc9701;
    
    transition: ease-in all 0.7s;}
    footer{
        color: #fff;
        background-color: black;
        height: 250px;
        /* border-top:2px solid gray ; */
    }
    .footer{
        width: 960px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0px auto ;
        padding-top: 30px; ;
    }
    .quicklinks{
        margin-left:70px ;
    }
    .quicklinks li{
        list-style-type: none;

    }
    .instafeed{
        display: grid;
        grid-template-rows: repeat(2,1fr);
    }
    .p1{
        grid-area: 1/1/2/2;
    }
    .p2{
        grid-area: 2/1/3/2;
    }
    /* @media(max-width: 400px){
        body{
            background-image: url(../../images/bg.jpeg);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('../../images/bg.jpeg');
            width: 400px;
        }
        .top-header{
            width: 385px;
            height: 100%;
            display: flex;
            justify-content: center;
        }
        .socialmedia{
        padding-bottom: 5px;
        }
        .phone{
            display: none;
        }
        .gmail{
            display: none;
        }
        header{
            width: 355px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin-left: 0px;
        }
        .header{
            display: none;
        }
        .header1{
            padding-top: 10px;
        }
        .menulogo{
            display: block;
            padding-left: 60px;
        }
        .we-are{
            width: 90%;
            display: grid;
            grid-template-rows: repeat(3,1fr);

        }
        .we-are h1{
            font-size: 35px;
        }
        .card{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,1fr);
            padding-left: 60px;
        }
        .ourcompany{
            display: grid;
            grid-template-columns: 1fr;
        }
        .aboutour{
            width: 380px;
        }
        }
        .futureimg {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,1fr);
            width: 380px;
            height: auto;
            margin-left: 0px;
            gap: 20px;            
        }
        
        .whycard{
            display: grid;
            grid-template-columns:repeat (1fr) ;
            gap: 30px;
            margin-top: 20px;
            margin-bottom: 80px;
            margin-left: 10px ;
        }
        .whychose{
            margin-left: 10px;
            margin-bottom: 60px;
            width: 380px;
        }
        .container .h1{
            font-size: 25px;
            margin-left: 40px;
        }
        .contact-us{
            display: grid;
            grid-template-columns: 1fr;
            width: 372px;
        }
        iframe{
            width: 372px;
            height: auto;
            margin-top: 10px;
        }
        footer{
            height: auto;
        }
        .footer{
            display: grid;
            grid-template-columns: 1fr;
            width: 350px;
            margin-top: 25px;
        }
        .quicklinks{
            margin-left: 0px;
        }
        .ourcompany img {
            width: 380px;
            /* margin-right: 10px; */
        } */